
input, select {
    display: block;
    padding: 0 5px;
    background: rgba(149, 169, 168, .9);
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    outline: none;
    margin: 4px 0 10px 0;
    color: #FFFFFF;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    height: 45px;
    width: 300px;
}



.accept {
    background: #b6fbff;
    color: #000000;
}

.cancel {
    float: right;
}

.add-new {
    padding: 15px 0;
    text-decoration: none;
    color: white;
    width: 200px;
    background: #4a4a4a;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
    display: block;
    border: 4px solid #FFFFFF;
    font-size: 16px;
}
.add-new:hover {
    color: #4a4a4a;
    background: white;
    border: 4px solid #4a4a4a;
    cursor: pointer;
    outline: none;
}

ul {
  background-color: black;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 100%;
  width: 10%;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }
 a {
   text-decoration: none;
   color:inherit;
 }
 a:hover {
   text-decoration: none;
   color: inherit;
 }
 .icon {
   margin-top: 40px;
   margin-bottom: 40px;
   font-size: 40px;
   color: white;
 }
.container {
  text-align: center;
  margin-left: 10%;
}


.bookImage {
    margin: 20px;
    width: 200px;
}
@media screen and (max-width: 1000px) {
  ul {
    background-color: black;
    position: fixed;
    z-index: 2;
    margin-bottom: -10%;
    padding: 10px;
    height: 15vh;
    font-size: 40px;
    width: 100%;
    text-align: center;
    display: table-row;
   }
   .icon {
     margin-top: calc(7vh - 40px);
     margin-left: 20px;
     margin-right: 20px;
     color: white;
   }
   .container {
     margin-left: 0%;
   }
}
a {  text-decoration: none;}